@using Gobln.Pager
@model Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>

@addTagHelper "*, Gobln.Pager.Mvc"

<div>
    <h2>
        No options
    </h2>

    <pager page="@Model.ToPage(1, 2)" />
</div>

<div>
    <h2>
        No options and empty page
    </h2>

    @{
        var emptyModel = new Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>();
    }

    <pager page="@emptyModel.ToPage(1, 2)" />
</div>