@using Gobln.Pager
@using Gobln.Pager.Mvc
@model Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>

@addTagHelper "*, Gobln.Pager.Mvc"

<div>
    <h2>
        Change url
    </h2>

    <pager page="Model.ToPage(1, 2)"
           pager-options="@(new PagerOptions()
                    {
                        Url = @"https://www.google.com/"
                    })" />

</div>

<div>
    <h2>
        Disable url
    </h2>

    <pager page="Model.ToPage(1, 2)"
           pager-options="new PagerOptions()
                    {
                        UrlDisable = true
                    }" />

</div>