@using Gobln.Pager
@using Gobln.Pager.Mvc
@model Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>

<div>
    <h2>
        Show only page number range
    </h2>

    @Html.Pager(Model.ToPage(1, 2), new PagerOptions()
    {
        ItemShowOrder = new[] { ItemShow.PagesItemsRange },
        ActiveDisplay = true
    })

</div>