
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="/Content/Bootstrap3/bootstrap.css" rel="stylesheet">
}

<h2>
    Pager Test
</h2>
<div>
    This is an test site for testing Gobln.Pager.Mvc for .net framework 4.5
</div>