@using Gobln.Pager
@using Gobln.Pager.Mvc
@model Gobln.Pager.PagedList<Gobln.Pager.Mvc45Test.Models.TestModel1>

<div>
    <h2>Disabled and active states</h2>

    <div>
        @Html.Pager(Model.ToPage(1, 2), new PagerOptions()
        {
            ActiveDisplay = true,
            ActiveDisplayAsLink = false
        })
    </div>

    <div>
        @Html.Pager(Model.ToPage(8, 2), new PagerOptions()
        {
            ActiveDisplay = true,
            ActiveDisplayAsLink = true
        })
    </div>

</div>