@using Gobln.Pager
@using Gobln.Pager.Mvc
@model Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>

<div>
    <h2>
        No options
    </h2>

    @Html.Pager(Model.ToPage(1, 2))
</div>

<div>
    <h2>
        No options and empty page
    </h2>

    @{ 
        var emptyModel = new Gobln.Pager.PagedList<Gobln.Pager.MvcCore20Test.Models.TestModel1>();
    }

    @Html.Pager(emptyModel.ToPage(1, 2))
</div>